.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rbuildignore

/.quarto/

bibtex.qmd
bib/bib.bib.sav
bib/pkg-bib.bib.sav
codigo/
dados/
docs/
pres/

incluir_giscus.md
figuras/anatomia.png
figuras/favicon_pre.png

