.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rbuildignore

/.quarto/

bib/bib.bib.sav
bib/pkg-bib.bib.sav
codigo/
dados/
docs/
pres/

figuras/anatomia.png
figuras/favicon_pre.png

perguntas_frequentes.qmd
