.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rbuildignore

/.quarto/

bibtex.qmd
bib/bib.bib.sav
bib/pkg-bib.bib.sav
codigo/

figuras/anatomia.png
figuras/favicon_pre.png

docs/exemplos/fotinha.JPG
docs/exemplos/_bookdown.yml
docs/exemplos/*.html
docs/exemplos/exemplinho*
docs/exemplos/*.pdf
docs/exemplos/resumo_artigo_cientifico.Rmd